.container {
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.form__field input {
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
    width: 100%;
    color: #fff;
    font-family: "Oswald", Courier, monospace;
    font-size: 1rem;
    letter-spacing: 2px;
}

input::placeholder {
    font-family: "Oswald", Courier, monospace;
    font-weight: bold;
    font-size: 1rem;
}

.form__field label {
    font-family: "Oswald", Courier, monospace;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.form__btn {
    width: 100%;
}
